:root {
  --color-very-dark-blue: #e1f7e1;
  --color-dark-blue: #62d562;
  --color-desaturated-blue: #3c5142;
  --color-pale-blue: #a2e15c;
  --color-white: #000;
  --default-padding: 2rem;
  --default-radius: 0.8rem;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  color: var(--color-white);
}

/* End CSS Reset */
